.buffer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;                  
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.buffer-item{
    background-color: orange;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btns-container{
    position: fixed;
    bottom: 50px;
    display: flex;
    gap: 2rem;
    left: 50%;
    transform: translatex(-30%);
}

.btn{
    padding: 1rem;
    font-family: monospace;
}